[Unit]
Description=Run project
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/user/AI_Based_Project_Allocation/
ExecStart=/usr/bin/docker-compose up --remove-orphans
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
